@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;500;700&family=Roboto+Slab:wght@200;400;500;700&display=swap');

*{
	text-decoration: none;
	margin: 0;
	--color1: darkkhaki;
	--color2: khaki;
	--color3: beige;
	--color4: teal;
	font-family: 'Roboto Slab', serif;
}

body{
	text-align: center;
	background-color: var(--color1);
}

button{
	border-style: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: normal;
}

nav{
	position: fixed;
	width: 100vw;
	display: grid;
	place-items: center;
	background-color: var(--color1);
}

nav .expanded{
	display: flex;
	justify-content: space-between;
	width: 70vw;
}

.compact, .menuOptions, #menuOptions{
	display: none;
}

#titleC{
	font-size: x-large;
}

a,button{
	color: var(--color3);
	background-color: transparent;
	padding: .6rem 1.6rem;
	margin: .4rem 0;
	border-bottom: 2px solid var(--color2);
	transition: ease-out .5s;
}

a:hover,button:hover{
	color: #333;
	box-shadow: inset 0 -3rem 0 0 var(--color2);
}

.container{
	width: 70vw;
	margin: auto;
}

section{
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

#welcome{
	grid-template-columns: 1fr;
}

#introWelcome{
	font-size: 1.8rem;
	color: var(--color3);
}

#titleWelcome{
	font-size: 4rem;
}

#welcome img{
	width: 90%;
}

.section-normal{
	grid-template-columns: 1fr;
}

.section-normal h1 {
	margin-bottom: 3rem;
}

#about p{
	font-size: 1.4rem;
	color: var(--color3);
}

.links{
	margin-top: 1rem;
}

#about a{
	margin-top: 1rem;
	border-bottom: 2px solid var(--color2);
	border-radius: 50%;
	padding: 1rem .85rem .5rem .85rem;
}

#about img{
	width: 1.2rem;
}

h1{
	color: var(--color4);
	font-size: 3rem;
}

.modal{
	display: none;
	text-align: center;
	background-color: beige;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5rem 3rem;
	width: 12rem;
	box-shadow: 0 0 10px 1px rgba(0,0,0, 0.4);
}

.modal button{
	width: 100%;
	height: 2.5rem;
	display: block;
	margin: .5rem 0;
	color: #333;
}

.learn-grid, .proj-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	place-items: center;
}

.proj-grid{
	height: 100%;
}

.proj-grid p{
	text-align: left;
	background-color: var(--color3);
	color:  #333;
	padding: 3rem 2rem;
	border-radius: 10px;
	font-family: 'JetBrains Mono', serif;
}

.learn-grid div{
	width: 5rem;
	height: 5rem;
	background-color: var(--color3);
	padding: .7rem;
	display: grid;
	place-items: center;
	border-radius: 10px;
}

.learn-grid img{
	max-width: 90%;
	max-height: 90%;
}

@media (max-width: 1000px){
	nav .expanded{
		width: 90vw;
	}
	.container{
		width: 90vw;
	}
}

@media (max-width: 750px){
	nav .expanded{
		display: none;
	}
	.compact{
		display: block;
		width: 90vw;
	}
	.menuCompact{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#menuOptions{
		flex-direction: column;
	}
	.container{
		width: 95vw;
		padding-bottom: 2rem;
	}
	section{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}
	#about{
		flex-direction: column;
	}
	.learn-grid{
		gap: .5rem;
	}
	.proj-grid{
		grid-template-columns: 1fr;
	}
}
